/* enter your css here */

/*** TG CLASS ***/
.title-h3 h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.m-15 {margin: 15px}
.m-30 {margin: 30px}
.mb-30 {margin-bottom: 30px}
.mt-30 {margin-top: 30px}
.ml-15 {margin-left: 15px}
.p-20 {padding: 20px}
.red { background: var(--categories_title_bg); }
.info-left {
    text-align: left;
    display: inline-block;
}
/*** END TG CLASS **/
.single-news ul {
    list-style-type: disc;
    margin-left: 25px;
}
.wrap-img {
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
}
/**** HEADER ****/
#admin-menu {position: relative;}
.JSsticky_header {top:0 !important;}
#responsive-nav .JSsticky-categories.JScategories {
    left: auto;
    top: 0;
    margin-top: 1.5px;
    transform: translate(0, 0);
    animation: categories_slide .01s;
}
.JSlevel-1 li a:hover {
    color: #dc3237;
}
.breadcrumb .breadcrumps-article-title a:hover {
    color: #000;
}
.main-menu li a:hover {
    color: #dc3237;
}
.breadcrumb a:hover {
    color: #dc3237;
}

/**** PRODUCT PAGE ****/
.product-options {
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
#product_preview_tabs {
    margin-bottom: 100px;
}
#service_desc-tab a {
    color: #dc3237;
}
#service_desc-tab a {
    color: #dc3237;
}
.tab-content ul {
    margin-bottom: 20px;
}
.nav.nav-tabs > li {
    min-width: 110px;
}
#product_preview_tabs h1, #product_preview_tabs h2, #product_preview_tabs h3, 
#product_preview_tabs h4, #product_preview_tabs h5, #product_preview_tabs h6 {
    margin-top: 15px;
    margin-bottom: 10px;
}
#technical-docs > div {
    min-height: 120px;
    vertical-align: middle;
    min-width: 140px;
}
#technical-docs .files-list-item .files-list-item {
    display: block;
    max-width: 160px;
}
.files-list-item {
    text-align: center;
}

/**** FILTERS ****/
.filters li {
    border: 1px solid #e7e7e7;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 2px;
}
.filters .JSfilters-slide-toggle-content {
	overflow-y: auto;
	max-height: 260px;
}
.filters label {
    background: transparent;
    padding: 2px 8px;
    flex-wrap: nowrap;
    cursor: pointer;
}
#product-page .filter-links {
    border-bottom: none;
    text-transform: uppercase;
    color: #999;
    font-weight: 600;
    font-size: 14px;
}
.filters .filter-count {
    color: #999;
}
.JSfilters-slide-toggle-content input {
    cursor: pointer;
}
.filters .JSfilters-slide-toggle-content::-webkit-scrollbar {
    width: 5px;
    background: #f7f7f7;
}
.filters .JSfilters-slide-toggle-content::-webkit-scrollbar-thumb {
    background: rgba(359,77,86,.7);
    border-radius: 10px;
}
.filters .selected-filters li {
    background-color: transparent;
}

/*** BLOG ***/
.single-news h1, .single-news h2, .single-news h3, 
.single-news h4, .single-news h5, .single-news h6 {
    margin-top: 15px;
    margin-bottom: 10px;
}

/*** KONTAKT PAGE ***/
.tg-contact {margin-bottom: 60px;}
.tg-contact ul {
    /* margin-bottom: 20px; */
    margin-bottom: 10px;
}
/*** COMMENTS ***/
#the-comments .comment-content li {
    list-style: none;
}

/*** FOOTER ***/
footer .foot-note {
    text-align: left;
    font-size: 14px;
    border-top: 1px solid #444;
    padding-top: 10px;
}
footer .foot-note p {
    color: #999;
}
footer .foot-note a {
    color: #c7c7c7;
}
footer h3, footer h4, footer h5 {
    color: #f1f1f1;
    margin-bottom: 10px;
}
footer p {
    color: #ccc;
}
/*** VIDEO ***/
.tg-relative { position: relative; height: 300px; }
.tg-relative iframe {
    position: absolute;
    left: 0;
    top: 0;
    Width: 100%;
    height: 100%;
}

/*** MEDIA SCREEN ***/
@media only screen and (min-width: 991px) {
    
    /*** TG CLASS ***/
    .lg-center { text-align: center; }
    .lg-mb-30 { margin-bottom: 30px!important }
    .lg-mb-100 { margin-bottom: 100px }
    .l-font-20 {font-size: 20px;}
    .l-p-50 {padding: 50px}
    /*** END TG CLASS ***/
    
    #responsive-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    }
    .JSlevel-1 li {
        position: static;
    }
    .JSlevel-2 {
    min-height: 100%;
    border-top: 3px solid #dc3237;
    }
    #product_preview_tabs .tab-content h2 {
    font-size: 2.8em;
    }
    .tg-relative { height: 610px; }
    .filters label {
    padding: 2px 3px 2px 6px;
    }
    .filter-text {
    font-size: 14px;
    line-height: 1.1;
    }
    #product-page .shop-product-card .add-to-cart-container {
    min-height: 49px;
    }
}
@media only screen and (min-width: 768px) {
    .footer-logo { margin-top: -5px; }
}

@media only screen and (max-width: 991px) {
    body #responsive-nav {
    padding-top: 0;
    }
    body .categories-title {
    border-radius: 0;
    }
}

@media only screen and (max-width: 767px) { 
    .resp-nav-btn {
    position: relative;
    }
    .resp-nav-btn .fas.fa-bars:after {
        content: "Proizvodi";
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        margin-left: 5px;
        font-weight: 100;
        font-family: Roboto,sans-serif;
        font-size: 16px;
    }
    #product-page .sub-group span {
    max-width: 80%;
    width: 100%;
    }
    .pravna-lica h2 {font-size: 23px}
} 